html, body {
  display: flex;
  background-color: #121212;
  height: 100%; /* Asegúrate de que la altura del body esté en 100% */
  margin: 0; /* Elimina cualquier margen predeterminado */
}

#root {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #ee04a8;
}

#div-app {
  display: flex;
  height: 100%; /* Cambié de 100% a 100% en lugar de flexbox */
  width: 100%;
  border-radius: 20px;
  padding: 0rem 1rem;
  background-color: #2bee04;
  flex-direction: column; /* Asegúrate de que el contenido se apile correctamente */
}

#div-footer {
  position: relative; /* Cambié de absolute a relative */
  height: auto;
  width: 100%;
  background-color: #42f486;
}

#div-home {
  display: flex;
  flex-direction: column; /* Esto ayudará a organizar el contenido de manera adecuada */
  flex: 1; /* Usamos flex: 1 para que ocupe el espacio disponible */
  border-radius: 20px;
  padding: 0rem 1rem;
  background-color: #eeb004;
}

#div-module {
  display: flex;
  flex-direction: column; /* Asegúrate de que los elementos internos se apilen correctamente */
  flex: 1;
  width: 100%;
  border-radius: 20px;
  padding: 0rem 1rem;
  background-color: #0490ee;
  overflow: auto; /* Hacemos que el contenido de la tabla sea desplazable */
}

#detail {
  flex: 1;
  padding: 0rem 1rem;
  height: 100%;
  overflow-y: auto; /* Permitimos desplazamiento vertical si el contenido es largo */
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}
